#fretboard table {
    background-color: bisque;
}

#fretboard td {
    position: relative;
    border-right: gray solid 3px;
    border-left: gray solid 3px;
    background-image: url('data:image/gif;base64,R0lGODdhAgAIAOMQAB0aFSUfDyooKTUxJkA6Gk9EJFlPLFRRSGtnZnNpUHRvXIF3bY+Ifp6Xh7Gunby4rywAAAAAAgAIAAAEDHAERV5xpiW20BFABAA7');
    background-repeat: repeat-x;
    background-position: center;
}

#fretboard div.marker {
    z-index: 0;
    position: absolute;
    background: gray;
}

#fretboard div.note, #fretboard div.open-note {
    z-index: 1;
    position: absolute;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    font-weight: bold;
    user-select: none;
}

