body {
    padding-top: 1em;
}

button {
    min-width: 150px;
}

#fretboard {
    margin-top: 3.5em;
    margin-bottom: 2.5em;
}

#fretboard table {
}

#fretboard td {
    padding: 0;
    position: relative;
    background-color: bisque;
    background-clip: padding-box;
    border-right: gray solid 3px;
    border-left: gray solid 3px;
}

#fretboard td.inactive {
    background-color: #FFE4C460;
}

#fretboard div.note {
    width: 100%;
    height: 100%;
    background-image: url('data:image/gif;base64,R0lGODdhAgAIAOMQAB0aFSUfDyooKTUxJkA6Gk9EJFlPLFRRSGtnZnNpUHRvXIF3bY+Ifp6Xh7Gunby4rywAAAAAAgAIAAAEDHAERV5xpiW20BFABAA7');
    background-repeat: repeat-x;
    background-position: center;
}

#fretboard div.open-note {
    position: absolute;
}

#fretboard div.marker {
    z-index: 1;
    position: absolute;
    background: gray;
}

#fretboard div.note-content {
    z-index: 2;
    position: absolute;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    font-weight: bold;
    user-select: none;
}

#fretboard div.note-pattern {
    border: black solid 2px;
}

#fretboard div.marker-text {
    position: absolute;
    top: -1.5em;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    user-select: none;
}

#exercise-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#exercise-text {
    vertical-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-grow: 1;
}

#exercise-text .correct {
    color: #28a745;
}

#exercise-text .wrong {
    color: #dc3545;
}

#btn-setup {
    margin-top: 1em;
}

