button {
    min-width: 120px;
}

#fretboard {
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
}

#fretboard table {
    background-color: bisque;
}

#fretboard td {
    z-index: 0;
    position: relative;
    background-image: url('data:image/gif;base64,R0lGODdhAgAIAOMQAB0aFSUfDyooKTUxJkA6Gk9EJFlPLFRRSGtnZnNpUHRvXIF3bY+Ifp6Xh7Gunby4rywAAAAAAgAIAAAEDHAERV5xpiW20BFABAA7');
    background-repeat: repeat-x;
    background-position: center;
    border-right: gray solid 3px;
    border-left: gray solid 3px;
    padding: 0;
}

#fretboard div.marker {
    z-index: 1;
    position: absolute;
    background: gray;
}

#fretboard div.note {
    width: 100%;
    height: 100%;
}

#fretboard div.open-note {
    position: absolute;
}

#fretboard div.note-content {
    z-index: 2;
    position: absolute;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    font-weight: bold;
    user-select: none;
}

#drill-text {
    margin-bottom: 1em;
}

#drill-text .correct {
    color: #28a745;
}

#drill-text .wrong {
    color: #dc3545;
}
